---
layout: home
background: '/img/bg-index.jpg'
---
<div class="container">
  <p>Welcome to Hielke Maps, where Minecraft parkour takes center stage! As a passionate Minecraft content creator, I've crafted a collection of immersive and challenging parkour maps for both Bedrock and Java editions.</p>
  <p>Whether you're a seasoned parkour pro or a newcomer to the game, my maps offer a thrilling and exciting experience. Explore new worlds, test your skills, and compete with others to reach the top of the leaderboards.</p>
  <p>At Hielke Maps, parkour is our specialty. With innovative designs and obstacles that will keep you on your toes, you're guaranteed an unforgettable parkour experience. Browse my collection now and take your Minecraft skills to the next level!</p>
  <hr>
</div>

<div class="container-fluid">
  <div class="card-deck" style="justify-content: center;">
    {% assign sorted = site.maps | sort: 'order' %}
    {% for map in sorted %}
    {% if map.bedrock or map.soon %}
    {% unless map.hide %}
    <div class="card mapcard" onclick="location.href='{{ map.url | prepend: site.baseurl | replace: '//', '/' }}';">
      <img class="card-img-top" src="{{site.baseurl}}/img/{{map.url}}/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ map.title }}</h4>
        {% if map.bedrock %}<span class="badge badge-secondary">Bedrock</span>{% endif %}
        {% if map.java or map.inserver %}<span class="badge badge-secondary">Java {{map.java-version}}</span>{% endif %}
        {% if map.soon %}<span class="badge badge-primary">{% if map.release-date %}
          {{map.release-date | date: "%B %-d"}}{%else %}
          Coming soon{% endif %}</span>{% endif %}
        <p class="card-text">{{map.short-description}}</p>
      </div>
    </div>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>
  <!-- Pager -->
  {% if paginator.total_pages > 1 %}

  <div class="clearfix">

    {% if paginator.previous_page %}
    <a class="btn btn-primary float-left"
      href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
      Newer<span class="d-none d-md-inline"> Maps</span></a>
    {% endif %}

    {% if paginator.next_page %}
    <a class="btn btn-primary float-right"
      href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span
        class="d-none d-md-inline"> Maps</span> &rarr;</a>
    {% endif %}

  </div>

  {% endif %}
</div>