---
layout: default
---
<header class="masthead">
    
  <video autoplay muted loop id="myVideo">
    <source src="vid/clip.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <div class="image-container">
      <img src="img/logo.png" id="logo">
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="card-deck row row-cols-xs-1 row-cols-md-3 row-cols-lg-4" style="justify-content: center;">
    {% assign sorted = site.maps | sort: 'order' %}
    {% for map in sorted %}
    {% if map.bedrock or map.soon %}
    {% unless map.hide %}
    <div class="card mapcard" onclick="location.href='{{ map.url | prepend: site.baseurl | replace: '//', '/' }}';">
      <img class="card-img-top" src="{{site.baseurl}}/img/{{map.url}}/thumbnail-compressed.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ map.title }}</h4>
        {% if map.bedrock %}<span class="badge badge-secondary">Bedrock</span>{% endif %}
        {% if map.java or map.inserver %}<span class="badge badge-secondary">Java {{map.java-version}}</span>{% endif %}
        {% if map.soon %}<span class="badge badge-primary">{% if map.release-date %}
          {{map.release-date | date: "%B %-d"}}{%else %}
          Coming soon{% endif %}</span>{% endif %}
        <p class="card-text">{{map.short-description}}</p>
      </div>
    </div>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>
</div>