<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">

    <a class="navbar-brand flex items-center align-middle navbar-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/media/logo.png" class="pointer-events-none" id="logo" />
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="toggle-menu" data-target="#navbarResponsive">
      <div class="hamburger-toggle">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>
    <div class="navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item animate__animated" id="logo-item">
          <a class="nav-link" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/media/logo.png" alt="Logo"></a>
        </li>
        <li class="nav-item animate__animated">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item animate__animated">
          <a class="nav-link" href="{{ site.baseurl }}/maps">Maps</a>
        </li>
        <li class="nav-item animate__animated">
          <a class="nav-link" href="{{ site.baseurl }}/news">News</a>
        </li>
        <li class="nav-item animate__animated">
          <a class="nav-link" href="{{ site.baseurl }}/upcoming">Upcoming</a>
        </li>
        <li class="nav-item animate__animated">
          <a class="nav-link" href="{{ site.baseurl }}/contact"">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>