<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
  integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<script src="{{'/assets/js/main.js' | relative_url }}"></script>
<script src="{{'/assets/js/navbar.js' | relative_url }}"></script>

{% if page.custom-js %}
{% for js_file in page.custom-js %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/custom/{{ js_file }}.js"></script>
{% endfor %}
{% endif %}

{% if page.layout == 'map' %}
<script src="{{ site.baseurl }}/assets/js/map.js"></script>

<!-- Newsletter pop-up -->
<script async src="https://talk.hyvor.com/embed/newsletter.js" type="module"></script>

{% if page.java %}
<script id="javaScript" src="{{ site.baseurl }}/assets/js/java.js" | relative_url}}" data-url="{{page.java}}"></script>
{% endif %}

{% if page.speedrunnable %}
<script id="speedrunScript" src="{{ site.baseurl }}/assets/js/leaderboard.js" data-title="{{page.title}}"></script>
{% endif %}

{% if page.isranked %}
<script src="{{ site.baseurl }}/assets/js/rank.js" | relative_url}}"></script>
{% endif %}
{% endif %}