form {

  input, textarea {
    filter: brightness(98%) !important;
    font-size: 18px !important;
    border: none !important;
  }

  label{
    color: gray !important;
    transition-property: color, all !important;
    transition-duration: 0.25s !important;
    transition-timing-function: ease-out !important;
  }

  input {
    border-bottom: 1px solid var(--primary-color) !important;
    font-weight: 0 !important;
  }

  textarea {
    min-height: 180px !important;
  }
}

.form-control {
  padding-left: 0.5rem !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem) !important;
  color: var(--primary-color) !important;
}