---
--- 

@import url("./form.css");
@import url("./navbar.css");
@import url("./masthead.css");
@import url("./footer.css");

:root {
	--primary-color: #0085BE;
	--primary-color-pressed: #006b99;
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color-pressed);
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

html,
body {
	width: 100%;
	margin: 0px !important;
	font-size: 18px;
	color: #212529;
	font-family: 'Arial', 'Times New Roman', serif;
	scroll-behavior: smooth;
}

p {
	line-height: 1.5;
	margin: 30px 0;

	a {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
	border-width: 2px;
	border-radius: 10px !important;
	font-size: 14px;
	font-weight: 800;
	padding: 18px 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0;
	transition: 0.2s ease-in-out 0s;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	&:hover {
		transform: scale(1.03);
	}
}

.comment-bubble {
	display: inline-block;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;

	font-size: 20px;
	transition: all 300ms ease-out;

	path{
		transition: all 300ms ease-out;
		fill: var(--primary-color-pressed);
		opacity: 0.5;
	}

	.count{
		font-size: 18px;
		color:white;
	}

	&:hover{
		scale: 1.1;
		filter: drop-shadow(5px 5px 10px var(--primary-color-pressed));

		path{
			opacity: 1;
		}
	}
}

.btn-outline-primary {
	border-color: var(--primary-color);
	color: var(--primary-color);

	&:hover,
	&:focus,
	&:active {
		color: white;
		background-color: var(--primary-color-pressed);
		border-color: var(--primary-color-pressed);
	}
}

.btn-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);

	&:hover,
	&:focus,
	&:active {
		color: white;
		background-color: var(--primary-color-pressed);
		border-color: var(--primary-color-pressed);
	}
}

.btn-lg {
	font-size: 16px;
	padding: 25px 35px;
}

::selection {
	color: white;
	background: var(--primary-color);
	text-shadow: none;
}

img::selection {
	color: white;
	background: transparent;
}

.badge {
	font-style: normal;
}

.badge-secondary {
	color: white;
	background-color: #6c757d;
}

.image-container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.figure {
	margin-top: 0.5rem;
}

.card {
	transition: transform .2s;
}

.card:hover {
	transition: all 0.3s ease;
	cursor: pointer;
	transform: scale(1.02);
}

div.row>div>div.row {
	margin-bottom: 15px;
}

.mapcard {
	width: 21rem;
	margin: 10px !important;
	padding: 0px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#searchInput{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 767px) {
	.mapcard {
		width: 45%;
	}
}

@media (max-width: 600px) {
	.mapcard {
		width: 80%;
	}
}

@media (max-width: 450px) {
	.mapcard {
		width: 92%;
	}
}

#bomb_battle_img {
	margin-top: 10px;
}

.badge-primary {
	background: #0d6efd;
}