---
---


header.masthead {
  overflow: hidden;
  margin-bottom: 25px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;

  .blur{
    filter: blur(5px) brightness(0.5) !important;
    scale: 1.05;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      font-family: 'Arial', 'Times New Roman', serif;;
      a {
        color: white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}