---
---

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;

  &:focus {
    box-shadow: none;
  }

  .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;

    .hamburger {
      position: absolute;
      transform: translate(-50%, -50%) rotate(0deg);
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      pointer-events: none;

      span {
        width: 100%;
        height: 4px;
        position: absolute;
        background: white;
        border-radius: 2px;
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), all 0.2s ease-in-out;
        left: 0px;

        &:first-child {
          top: 10%;
          transform-origin: 50% 50%;
          transform: translate(0% -50%) !important;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }

        &:last-child {
          left: 0px;
          top: auto;
          bottom: 10%;
          transform-origin: 50% 50%;
        }
      }

      &.active {
        span {
          position: absolute;
          margin: 0;

          &:first-child {
            top: 45%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            left: 50%;
            width: 0px;
          }

          &:last-child {
            top: 45%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

/* Define styles for #mainNav */
#mainNav {

  #logo {
    width: 50px;
    padding-right: 10px;
  }
  
  position: fixed;
  background: #5f5f5f7e;
  font-family: sans-serif;

  /* Define styles for .navbar-brand */
  .navbar-brand {
    font-weight: 800;
    color: white;
    font-size: 17px;

    &:focus,
    &:hover {
      color: #adb5bd;
    }
  }

  /* Define styles for .navbar-nav */
  .navbar-nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;

    >li.nav-item {

      >a {
        font-size: 15px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
      }
    }
  }

  /* Define styles for larger screens */
  @media only screen and (min-width: 992px) {
    background: transparent;

    .navbar-brand {
      padding: 10px 20px;
      color: white;
      
    }

    .navbar-nav {
      >li.nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        
        &:focus,
        &:hover {
          backdrop-filter: brightness(0.9) blur(5px);
        }

        >a {
          height: 100%;
          align-content: center;
          padding: 10px 20px;
          color: white;
        }
      }
    }

    &.scrolled{
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: #5f5f5f7e;
    }

    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
  }

  #logo-item {
    display: none;
  }

  /* Define styles for smaller screens */
  @media screen and (max-width: 991px) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.2s;
    
    .navbar-collapse {
      display: none;
      height: 0vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #5f5f5f7e;
      opacity:0;
    }

    #logo-item {
      display:block;
      margin-bottom: 20px;

      img {
        max-width: 33%;
        max-height: 33vh;
        display: inherit;
        height: auto;
      }
    }

    .navbar-nav {
      width: 100%;
      padding-top: 3em;

      .nav-item {
        text-align: center;
        margin-bottom: 10px;

        .nav-link {
          display: inline-block;
          font-size:calc(100% + 1vw);
          padding: 10px;
        }
      }
    }
  }
}