---
layout: page
title: Add-Ons
description: "Enhance your Minecraft world with my Add-Ons!"
background: '/media/bg-addon.jpg'
permalink: /addons/
custom-js: maps
background-white: true
---
<div class="container-fluid">
  <div class="card-deck row row-cols-xs-1 row-cols-md-3 row-cols-lg-4" style="justify-content: center;">
    {% assign sorted = site.addons | sort: 'order' %}
    {% for addon in sorted %}
    {% unless addon.hide %}
    <div class="card mapcard" onclick="location.href='{{ addon.url | prepend: site.baseurl | replace: '//', '/' }}';"
      data-aos="zoom-in">
      <img class="card-img-top" src="{{site.baseurl}}/media/{{addon.url}}/thumbnail-compressed.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ addon.title }}</h4>

        {% if addon.soon %}<span class="badge badge-primary">{% if addon.release-date %}
          {{addon.release-date | date: "%B %-d"}}{%else %}
          Coming Soon{% endif %}</span>

        {% else %} <span class="badge badge-secondary">v{{ addon.version }}</span>
        {% endif %}
        <p class="card-text">{{addon.short-description}}</p>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>