---
layout: page
title: Maps
background: '/media/bg-map.jpg'
permalink: /maps/
custom-js: maps
---
<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="col-md-6">
      <input type="text" id="searchInput" class="form-control mx-auto" placeholder="Search maps...">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card-deck row row-cols-xs-1 row-cols-md-3 row-cols-lg-4" style="justify-content: center;">
    {% assign sorted = site.maps | sort: 'order' %}
    {% for map in sorted %}
    {% unless map.hide %}
    <div class="card mapcard" 
         onclick="location.href='{{ map.url | prepend: site.baseurl | replace: '//', '/' }}';"
         data-aos="zoom-in">
      <img class="card-img-top" src="{{site.baseurl}}/media/{{map.url}}/thumbnail-compressed.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ map.title }}</h4>
        {% if map.bedrock %}<span class="badge badge-secondary">Bedrock</span>{% endif %}
        {% if map.java or map.inserver %}<span class="badge badge-secondary">Java {{map.java-version}}</span>{% endif %}
        {% if map.soon %}<span class="badge badge-primary">{% if map.release-date %}
          {{map.release-date | date: "%B %-d"}}{%else %}
          Coming soon{% endif %}</span>{% endif %}
        <p class="card-text">{{map.short-description}}</p>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>

