---
layout: default
---

<!-- Page Header -->
<header class="masthead"
  style="background-color: gray;  background-image: url('{{site.baseurl}}/img/{{page.permalink}}/background.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          <span class="meta">{{ page.date | date: '%B %d, %Y' }}
            {% if page.bedrock %}<span class="badge badge-secondary">Bedrock</span>{% endif %}
            {% if page.java %}<span class="badge badge-secondary">Java</span>{% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    {% if page.speedrunnable %}
    <div class="col-lg-7 col-md-10 mx-auto">
      {% else %}
      <div class="col-lg-8 col-md-10 mx-auto">
        {% endif %}
        {{ content }}

        <!-- Rank times -->
        {% if page.isranked %}
        <br>
        <h4>Rank times</h4>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Seconds</th>
              <th scope="col">Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span id="srank" value="{{ page.srank }}"></span></th>
              <td class="rank_letter" id="S">S</td>
            </tr>
            <tr>
              <th scope="row"><span id="arank" value="{{ page.arank }}"></span></th>
              <td class="rank_letter" id="A">A</td>
            </tr>
            <tr>
              <th scope="row"><span id="brank" value="{{ page.brank }}"></span></th>
              <td class="rank_letter" id="B">B</td>
            </tr>
            <tr>
              <th scope="row"><span id="crank" value="{{ page.crank }}"></span></th>
              <td class="rank_letter" id="C">C</td>
            </tr>
            <tr>
              <th scope="row"><span id="drank"></span></th>
              <td class="rank_letter" id="D">D</td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <hr>
        <div class="text-center">
          {% if page.bedrock %}
          <a href="{{page.bedrock}}" class="btn btn-success downloadbtn"><i class="fa fa-download"></i> Get it for
            Bedrock</a>
          {% endif %}

          {% if page.java %}
          <a href="{{page.java}}" class="btn btn-success downloadbtn {% if page.bedrock %}float-right{% endif %}"><i
              class="fa fa-download"></i> Get it for
            Java</a>
          {% if page.java-rp %}
          <a href="{{page.java-rp}}" class="btn btn-success downloadbtn"><i
              class="fa fa-download"></i> Get Resource Pack</a>
          {% endif %}
          {% endif %}
        </div>
        <hr>
      </div>
      {% if page.speedrunnable %}
      <div class="col-lg-1"></div>
      <div class="col-lg-4 col-md-10 mx-auto speedrunpanel" style="visibility: hidden;">
        <h2>Fastest Time</h2>
        <p id="record"></p>
        <span id="record_hms"></span>
        <a class="btn btn-sm btn-outline-danger" id="record_link"
          style="display:none; margin-top: -20px; padding: .25rem .5rem;">Submit one yourself!</a><br>
        <div id="author_info">
          <span id="record_author"></span><a target="_blank" id="record_author_name"></a>
        </div>
        <br>
        <div id="compete">
          <span>Want to compete?</span><br>
          <a class="btn btn-sm btn-secondary text-center" id="record_link_2" style="padding: .25rem .5rem;">Submit
            a run</a>
          <br>
          <br>
        </div>
        <div id="speedrun_discord">
          <span>Or join our speedrun server!</span>
          <br>
          <a href="https://discord.gg/6RzKxbH" target="_blank" class="discordLink"><i
              class="fab fa-discord fa-3x mt-2"></i></a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <br>
  <!-- Pictures -->
  <div style="text-align: center;">
    <h2>Media</h2>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          {% if page.trailer %}
          <a href="{{page.trailer}}&amp;rel=0" data-width="1280" data-toggle="lightbox" data-gallery="example-gallery"
            class="col-sm-4 mappic">
            <img class="playBtn" src="{{site.baseurl}}/img/playbtn.svg" />
            {% else %}
            <a href="{{site.baseurl}}/img/{{page.permalink}}/thumbnail.jpg" data-width="1280" data-toggle="lightbox"
              data-gallery="example-gallery" class="col-sm-4 mappic">
              {% endif %}
              <img src="{{site.baseurl}}/img/{{page.permalink}}/thumbnail.jpg" class="img-fluid">
            </a>
            <a href="{{site.baseurl}}/img/{{page.permalink}}/pic_0.jpg" data-toggle="lightbox"
              data-gallery="example-gallery" class="col-sm-4 mappic">
              <img src="{{site.baseurl}}/img/{{page.permalink}}/pic_0.jpg" class="img-fluid">
            </a>
            <a href="{{site.baseurl}}/img/{{page.permalink}}/pic_1.jpg" data-toggle="lightbox"
              data-gallery="example-gallery" class="col-sm-4 mappic">
              <img src="{{site.baseurl}}/img/{{page.permalink}}/pic_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="row">
          <a href="{{site.baseurl}}/img/{{page.permalink}}/pic_2.jpg" data-toggle="lightbox"
            data-gallery="example-gallery" class="col-sm-4 mappic">
            <img src="{{site.baseurl}}/img/{{page.permalink}}/pic_2.jpg" class="img-fluid">
          </a>
          <a href="{{site.baseurl}}/img/{{page.permalink}}/pic_3.jpg" data-toggle="lightbox"
            data-gallery="example-gallery" class="col-sm-4 mappic">
            <img src="{{site.baseurl}}/img/{{page.permalink}}/pic_3.jpg" class="img-fluid">
          </a>
          <a href="{{site.baseurl}}/img/{{page.permalink}}/pic_4.jpg" data-toggle="lightbox"
            data-gallery="example-gallery" class="col-sm-4 mappic">
            <img src="{{site.baseurl}}/img/{{page.permalink}}/pic_4.jpg" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Comments
  <div class="container">
    <div style="text-align: center;">
      <h2>Comments</h2>
    </div>
    <div id="commento"></div>
  </div>
  <script src="https://cdn.commento.io/js/commento.js"></script>-->