---
layout: default
---

<!-- Page Header -->
<header class="masthead"
  style="background-color: gray;  background-image: url('{{site.baseurl}}/media/{{page.url}}/background.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          <span class="meta">{% if page.soon %} {{page.release-date | date: '%B %d, %Y'}} {%else%} {{page.date| date:
            '%B %d, %Y'}} {% endif %}&nbsp;
            {% if page.bedrock %}<span class="badge text-bg-light">Bedrock</span>{% endif %}
            {% if page.java or page.inserver %}<span class="badge text-bg-light">Java {{page.java-version}}</span>{% endif
            %}
          </span>
          {% unless page.soon %}<span class="meta">v{{ page.version}}
          </span>{% endunless %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">

    <div class="col-lg-8 col-md-10 mx-auto mainpanel" id="sp-row-size">
      {{ content }}

      <!-- Rank times -->
      {% if page.isranked %}
      <br>
      <h4>Rank times</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Seconds</th>
            <th scope="col">Rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><span id="srank" value="{{ page.srank }}"></span></th>
            <td class="rank_letter" id="S">S</td>
          </tr>
          <tr>
            <th scope="row"><span id="arank" value="{{ page.arank }}"></span></th>
            <td class="rank_letter" id="A">A</td>
          </tr>
          <tr>
            <th scope="row"><span id="brank" value="{{ page.brank }}"></span></th>
            <td class="rank_letter" id="B">B</td>
          </tr>
          <tr>
            <th scope="row"><span id="crank" value="{{ page.crank }}"></span></th>
            <td class="rank_letter" id="C">C</td>
          </tr>
          <tr>
            <th scope="row"><span id="drank"></span></th>
            <td class="rank_letter" id="D">D</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      <hr>
      <div class="text-center">
        {% if page.bedrock %}
        <a type="button" href="{{page.bedrock}}" class="btn btn-success downloadbtn">Get it for
          Bedrock</a>
        {% endif %}

        {% if page.java and page.inserver %}
        <button type="button" class="btn btn-success downloadbtn" data-bs-toggle="modal" data-bs-target="#javaModal"> Get it for
          Java</button>
        {% else %}
        {% if page.inserver %}
        <button type="button" class="btn btn-success downloadbtn" data-bs-toggle="modal" data-bs-target="#serverModal"> Get it for
          Java</button>
        {% endif %}
        {% if page.java %}
        <a type="button" href="{{page.java}}" class="btn btn-success downloadbtn"><i class="fa fa-download"></i> Get it for Java
          ({{page.java-version}})</a>
        {% endif %}
        {% if page.java-rp %}
        <a type="button" href="{{page.java-rp}}" class="btn btn-success downloadbtn"><i class="fa fa-download"></i> Get Resource
          Pack</a>
        {% endif %}
        {% endif %}
      </div>
      <hr>
    </div>

    {% if page.speedrunnable %}
    <div class="col-lg-4 col-md-10 mx-auto">
      <div class="speedrunpanel speedrun-section animate__animated animate__zoomIn" style="display:none;">
        <h2>Fastest Time</h2>
        <p id="record"></p>
        <span id="record_hms"></span>
        <a class="btn btn-sm btn-outline-danger" id="record_link"
          style="display:none; margin-top: -20px; padding: .25rem .5rem;">Submit one yourself!</a><br>
        <div id="author_info">
          <span id="record_author"></span><a target="_blank" id="record_author_name"></a>
        </div>
        <br>
        <div id="compete">
          <span>Want to compete?</span><br>
          <a class="btn btn-sm btn-secondary text-center" id="record_link_2" style="padding: .25rem .5rem;">Submit
            a run</a>
          <br>
          <br>
        </div>
        <div id="speedrun_discord">
          <span>Or join the Discord!</span>
          <br>
          <a href="https://discord.gg/{{ site.discord }}" target="_blank" class="discordLink"><i
              class="fab fa-discord fa-3x mt-2"></i></a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<br>
<!-- Media -->
<div style="text-align: center;">
  <h2>Media</h2>
</div>
<div class="container">
  <div class="row justify-content-center">

        {% if page.trailer %}
        <a href="{{page.trailer}}&amp;rel=0" data-fancybox="media" data-thumb="{{site.baseurl}}/media/{{page.url}}/thumbnail.jpg" class="col-sm-6 col-lg-4 mappic">
          <img class="playBtn" src="{{site.baseurl}}/media/playbtn.svg" />
          {% else %}
          <a href="{{site.baseurl}}/media/{{page.url}}/thumbnail.jpg" data-fancybox="media"
            class="col-sm-6 col-lg-4 mappic">
            {% endif %}
            <img src="{{site.baseurl}}/media/{{page.url}}/thumbnail.jpg" class="img-fluid">
          </a>
          <a href="{{site.baseurl}}/media/{{page.url}}/pic_0.jpg" data-fancybox="media" class="col-sm-6 col-lg-4 mappic">
            <img src="{{site.baseurl}}/media/{{page.url}}/pic_0.jpg" class="img-fluid">
          </a>
          <a href="{{site.baseurl}}/media/{{page.url}}/pic_1.jpg" data-fancybox="media" class="col-sm-6 col-lg-4 mappic">
            <img src="{{site.baseurl}}/media/{{page.url}}/pic_1.jpg" class="img-fluid">
          </a>

 
        <a href="{{site.baseurl}}/media/{{page.url}}/pic_2.jpg" data-fancybox="media" class="col-sm-6 col-lg-4 mappic">
          <img src="{{site.baseurl}}/media/{{page.url}}/pic_2.jpg" class="img-fluid">
        </a>
        <a href="{{site.baseurl}}/media/{{page.url}}/pic_3.jpg" data-fancybox="media" class="col-sm-6 col-lg-4 mappic">
          <img src="{{site.baseurl}}/media/{{page.url}}/pic_3.jpg" class="img-fluid">
        </a>
        <a href="{{site.baseurl}}/media/{{page.url}}/pic_4.jpg" data-fancybox="media" class="col-sm-6 col-lg-4 mappic">
          <img src="{{site.baseurl}}/media/{{page.url}}/pic_4.jpg" class="img-fluid">
        </a>

  </div>
</div>
<br>

<!-- Modals -->
<div class="modal fade" id="javaModal" tabindex="-1" role="dialog" aria-labelledby="javaModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100">How would you like to play?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-primary p-2 w-44" data-bs-toggle="modal" data-bs-target="#downloadModal"
          data-bs-dismiss="modal">
          <span class="fas fa-user fa-2x mb-3"></span>
          <h5>Singleplayer</h5>
        </button>
        <button type="button" class="btn btn-primary p-2 w-44" data-bs-toggle="modal" data-bs-target="#serverModal"
          data-bs-dismiss="modal">
          <span class="fas fa-users fa-2x mb-3"></span>
          <h5>Multiplayer</h5>
        </button>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="serverModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100">Multiplayer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Play this map on the Hielke Maps Network!<br>
        <iframe id="serverFrame" src="/server?hideNav=true&iframe=true"></iframe>
        <div id="serverDiv">
      
        {% if page.trial %}
        {% if page.server %}
        <div class="d-md-flex justify-content-between">
          <div>
            Don't want to play with strangers?<br>
            You can also play this map on a free StickyPiston trial server!<br>
            <a type="button" class="btn btn-success btn-sm" href="{{page.trial}}">Host trial server</a>
          </div>
          <div class="mt-md-0 mt-3">
            Want your own private server?<br>
            Use the code <b>HIELKEMAPS</b> to get 25% off your purchase!<br>
            <a type="button" class="btn btn-success btn-sm" href="{{page.server}}">Purchase server</a>
          </div>
        </div>
        {% else %}
        Don't want to play with strangers?<br>
        You can also play this map on a free StickyPiston trial server!<br>
        <a type="button" class="btn btn-success btn-sm" href="{{page.trial}}">Host trial server</a>
        {% endif %}
        {% endif %}
      
        {% if page.java %}
        <p>You can also <a href="{{page.java}}" data-bs-toggle="modal"
            data-bs-target="#downloadModal" data-bs-dismiss="modal">download the map</a> and set it up yourself. </p>
        {% endif %}
      </div>
      </div>      
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100">Download</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center download-modal-content">
        Here you can download the zip file of {{page.title}}.<br>
        Make sure you unzip it into your saves directory to
        make Minecraft detect it.<br><br>
        <a type="button" class="btn btn-success java-download-btn" href="{{page.java}}" data-eo-form-toggle-id="d0211064-e537-11ee-9934-354c3c8b8fa0">
          <i class="fas fa-download"></i>
          Download ({{page.version}})
          <div class="java-download-mc">For Minecraft {{page.java-version}}</div>
        </a>
        <span class="tos-text">By downloading you accept the <a href="/tos">Terms of Service</a></span>
      </div>
    </div>
  </div>
</div>

<!-- Comments -->
<div class="container">
  <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  <hyvor-talk-comments website-id="10730" page-id="{{page.name}}"></hyvor-talk-comments>
</div>

<!-- Lightbox -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />