---
layout: default
---

<!-- Page Header -->
<header class="masthead">
  <div class="absolute w-100 h-100 -left-0 top-0 -z-10"
    style="filter:brightness(0.6); background-size:cover; background-color: gray; background-image: url('{{site.baseurl}}/media/{{page.url}}/background.jpg')">
  </div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
          <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="news">
  <div class="left-div side-div">
    <div class="author-box">
      <img src="{{ 'media/logo.png' | relative_url }}" />
      <span class="">By Hielke</span>
      <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
    </div>
  </div>
  <div class="text-div">
    {{ content }}
    <div class="comments">
      <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
      <hyvor-talk-comments website-id="10730" page-url="{{ page.url | absolute_url }}" page-id="{{page.url}}" loading="default"></hyvor-talk-comments>
    </div>
  </div>
  <div class="right-div side-div">
  </div>
</div>